:root{
    --color-header: #242331;
    --color-bg: #EEEEEE;
    --color-or:#FA824C;
    --color-sa:#CFDBD5;
    --color-ng:#171614;

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* chặn tràn ngang */
  background-color: var(--color-header); /* màu nền trùng */
}
html {
  scroll-behavior: smooth;
}


.container{
    font-family: Arial, sans-serif;
    background-color:var(--color-header)
    
}

.nav{
    display: flex;
    justify-content: space-between; /* canh giữa ngang */
     align-items: center; /* canh giữa dọc */
    padding: 25px 50px;
    background-color: var(--color-ng);
    position: fixed;     /* Giữ cố định */
    top: 0;              /* Dính sát mép trên */
    left: 0;
    width: 99vw;         /* Chiếm full chiều ngang */
    z-index: 1000;       /* Nằm trên các phần khác */  
}
.logo{
    font-size: 50px;
    font-weight: bold;
    color: var(--color-bg);
    margin-left: 5%;
    width: 15%;
    text-align: center;
}
.fo{
    color: var(--color-or);
    font-size:30px;
}
.menu{
    width:80%;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-right: 18%;
 
    
}
.nav ul{
    list-style: none;
    display: flex;
    gap: 50px;
     
}
.nav ul li a{
    color: var(--color-bg);
    text-decoration: none;
    font-size: 30px;
}
.nav ul li a:hover{
    color: var(--color-or);
    text-shadow:0 0 35px rgba(255, 102, 0, 0.6);
   
}
/*phan than*/
.web-container{
    width: 100%;
    height: 1000px;
    margin-top: 10px;
    display: flex;
   
}
.web-home{
    background-color: var;
  
}



/*phan than - ben phai*/
.Dot{
    width: 5%;
    height: auto;
    display: flex;
  justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.dot{
    background-color: var(--color-bg);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 15px 0;
}
.dot:hover{
    background-color: var(--color-or);
    cursor: pointer;
}
.dot.active{
    background-color: var(--color-or);
}
/*phan than - giua*/

.header{
     text-align: center;
    width: 95%;
    height: auto;
   display: flex;
    justify-content: center;
    align-items: center;
    margin: 0% auto;
    
}
.header-info{
    width: 38%;
    height: auto;
    text-align: left;
    margin-right: 20px;
    
}
.header-title{
    font-weight: bold;
    color: var(--color-bg);
    margin-bottom: 20px;
    border-radius: 15px;
    text-align: left;
    width: 90%;
    display:flex;
    flex-direction: column;
    gap: 10px;
}
.header-info p{
    font-size: 40px;
}
.typing{
    color: var(--color-or);
   
}
.header-info h1{
    font-size:80px;
    color: var(--color-or);
    
}

.header-img { 
    width: 400px; /* khung hình tròn nen de px va width = height*/
    height: 400px;
    border-radius: 50%;
    overflow: hidden;       /* cắt ảnh thừa */
    box-shadow: 0 0 50px rgba(0, 0, 0, .1);
    border: 7px solid var(--color-or);
    margin-right: 5%;
    box-shadow: 0 0 35px rgba(255, 102, 0, 0.7);
   
}
.header-img img { /* lam hinh fit vao vong tron */
    width: 100%;
    height: 100%;
    object-fit: cover;  /* giữ tỉ lệ, lấp đầy vòng tròn */
}
.social{
    width:80%;
    display:flex;
    justify-content: center ;
    align-items: center;
    gap: 40px;
    margin-top: 20px; 
}
.icon{
    margin: 7px 0;
    border:2px solid var(--color-or);
    border-radius: 15px;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 0 0 35px rgba(255, 102, 0, 0.2);;
}
.social a{
    color: var(--color-bg);
    font-size: 35px;

}

.icon:hover{
    background-color: var(--color-or);
}
.icon:hover a {
  color: white;
}
/*about*/
.web-about{
 background-color:var();
}
.main-about{
    display:flex;
    justify-content:center ;
    align-items: center;
    flex-direction: row;
    width:95%;
    gap:10%;
    height: auto;
}
.img-about{
    width: 420px;
    background-color: #EEEEEE;
    height: 420px;
    border-radius: 30px;
    border: 7px solid var(--color-or);
    box-shadow: 0 0 35px rgba(255, 102, 0, 0.7);
    overflow: hidden;
    margin-bottom: 2%;
}
.img-about img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content-about{
    width:50%;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    margin-top: -6%;
    height: auto;
    
}
.title-about{
    width:100%;
    margin-bottom: 5%;
    text-align:left;
    color: var(--color-bg);
    height:auto;
    
}
.title-about h1{
    color:var(--color-or);
    text-align:left;
    font-size:70px;
}
.title-about p{
    font-size:20px;
}
.personal{
    width: 100%;
    color:var(--color-or);
    text-align: left;
    font-size:20px;
    display:flex;
    align-items: center;
    gap:5px;
}
.icon-personal{
     width: 30px;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--color-or);
    border-radius: 50%;
    box-shadow: 0 0 35px rgba(255, 102, 0, 0.2);
    color:var(--color-bg);
    font-size:15px;
    margin-left:0.5%;
}


.info-about{
    margin-top: 3%;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: auto;
    gap:5px;
    
}
.info-about-right{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    gap:30px;
}
.info-about-left{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    gap:30px;
}
.items-about{
    display: flex;
    align-items: center;
    gap: 7px; /* khoảng cách giữa icon và chữ */
    color: var(--color-bg);
   
}
.icon-about{
    width: 55px;
    height:55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--color-or);
    border-radius: 50%;
    box-shadow: 0 0 35px rgba(255, 102, 0, 0.2);
}
.icon-about i{
    font-size:30px;
    color:var(--color-bg);
    
}
.items-about p{
    font-size:20px;
    color:var(--color-or);
    text-align: left;
}
.items-about span{
    color: var(--color-bg)
}



/*work*/
.web-work{
    background-color:var();
}
.main-work{
    display: flex;
    justify-content: center;
     align-items: center;
    flex-direction: column;
    gap: 50px;  
    width:90%;
}
.main-work h1{
    font-size: 100px;
    font-weight: bold;
    color: var(--color-bg);
    text-align: center;
    margin-bottom: px;
    margin-top: -120px;
    width: 100%;
}
.pr{
    color:var(--color-or)
}
.catelogy-work{
    width:100%;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    margin-bottom: 2%;
    margin-top:-1%;
}
.catelogy2-work{
    width: 100px;
    height: 40px;
    font-size: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 20px;
    border: 0.5px solid var(--color-or);
     box-shadow: 0 0 35px rgba(255, 102, 0, 0.2);
}
.catelogy2-work a{
    color:var(--color-bg);
    text-decoration: none;

}
.catelogy2-work:hover{
    background-color: h;
}
.project-work{
    display: flex;
    justify-content: space-between;
     align-items: center;
    width: 100%;
    gap:30px;
    height: auto;

}
.item-work{
    width: 50%;
    height: auto;
    text-align: center;
    box-shadow: 0 0 35px rgba(255, 102, 0, 0.5);
    border-radius: 15px;
    padding: 20px;
    border: 5px solid var(--color-or);
    background-color:var(--color-bg);
    transition: transform 0.3s, box-shadow 0.3s; /* thêm hiệu ứng mượt */
}
.item-work img{
    width: 250px;
    height: 250px;
    border-radius: 15px;

}
/* Khi hover */
.item-work:hover {
    transform: translateY(-10px) scale(1.05); /* nhích lên và phóng to nhẹ */
    box-shadow: 0 0 50px rgba(0, 0, 0, .2);   /* đổ bóng đậm hơn */

}
/*skills*/
.main-skills{
    display: flex;
    justify-content: center;
     align-items: center;
    flex-direction: column;  
    width:90%;
}
.main-skills h1{
    font-size: 100px;
    font-weight: bold;
    color: var(--color-bg);
    text-align: center;
    margin-bottom: px;
    margin-top: -120px;
    width: 100%;
}

